/*
-------------------------------------------------
 Nextflow config file for Mutenrich
-------------------------------------------------
 Basic configuration
-------------------------------------------------
 */

// Parameters scope
params {
  // General parameters
  help = false // Don't give help information
  more = false // Don't give version information
  workdir = "/Users/Alec/Documents/Bioinformatics/MDV_Project/nf-core-wgsfastqtobam" // Path to working directory
  //outdir = "${PWD}" // Path to output directory
  publishDirMode = 'copy' // publishDir mode is 'link' by default

  // Skipping paramaeters
  skip_fastqc_1 = false
  skip_trimmomatic = false

  // Resource parameter
  max_cpus = 2 // Base specifications
  max_memory = 8.GB // Base specifications
  max_time = 240.h // Base specifications
  
  // Container parameters
  // docker = false // Whether to use Docker
  repository = 'steepale' // DockerHub containers repository
  singularity = false // Don't use singularity to build buildContainers.nf
  
  // Analyses parameters
  step = 'testing_step' // Default step is testing_step
  test = false // Not testing by default
  verbose = false // Enable for more verbose information
  
}



// Environmental variable scope
//env {}

// process.shell = ['/bin/bash', '-euo', 'pipefail']

/*
report {  // Turning on execution report by default
  enabled = true
  file = "${params.outdir}/reports/mutenrich_report.html"
}

timeline { // Turning on timeline tracking by default
  enabled = true
  file = "${params.outdir}/reports/mutenrich_timeline.html"
}

dag { // Turning on dag by default
  enabled = true
  file = "${params.outdir}/reports/mutenrich_DAG.svg"
}

trace { // Turning on trace tracking by default
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
  file = "${params.outdir}/reports/mutenrich_trace.txt"
}
*/
