/*
 * -------------------------------------------------
 *  nf-core/mutenrich Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */


// Parameters scope
params {
  // manifest process parameters
  sample_cfg = '/Users/Alec/Documents/Bioinformatics/MDV_Project/nf-core-wgsfastqtobam/data/config.txt'
  // fastqc_1 process parameters
  fastq_path = '/Users/Alec/Documents/Bioinformatics/MDV_Project/nf-core-wgsfastqtobam/data/fastq'
  params.reads = "/Users/Alec/Documents/Bioinformatics/MDV_Project/nf-core-wgsfastqtobam/data/fastq/6x7-F1_GCCAAT_L001_R{1,2}_001.fastq.gz"
  
  // computing environment parameters
  msuhpcc = false
  local = true
  echo = false
}

// process scope
process {
  // clusterOptions = {"-A $params.project"}
  cpus = 2
  memory = 4.GB
  // scratch = true
  time = 1.h
}

// Docker scope
docker {
    enabled = true
    temp = 'auto'
}